<?xml version="1.0"?>
<launch>
    <include file="$(find zed_wrapper)/launch/zedm.launch">
        <arg name="frame_rate" value="30"/>
    </include>

    <group ns="zedm">
        <!-- exact left/right sync -->
        <param name="video/sync_mode" value="2" type="int"/>

        <!-- re-stamp every IMU sample to the image clock -->
        <param name="sensors/sensors_timestamp_sync" value="true" type="bool"/>
    </group>

    <!-- Start Digit sensors -->
    <node pkg="gelsight_digit_ros" type="gelsight_digit_node.py" name="digit_left" output="screen" >
        <param name="device_id" value="D21237" />
        <param name="node_name" value="digit_left" />
        <param name="topic_name" value="/digit/left/image_raw" />
        <param name="publish_rate" value="10" />
    </node>

    <node pkg="gelsight_digit_ros" type="gelsight_digit_node.py" name="digit_right" output="screen" >
        <param name="device_id" value="D21236" />
        <param name="node_name" value="digit_right" />
        <param name="topic_name" value="/digit/right/image_raw" />
        <param name="publish_rate" value="10" />
    </node>

    <!-- Start gripper controller -->
    <include file="$(find gripper_force_controller)/launch/gripper_control_py.launch" />
</launch>
